@import "../value.scss";

.horiziontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}
.body{
    border: 1px solid $color-border;
    height: 100%;
}
