.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  > a:first-child {
    float: left;
  }
}

.open {
  display: block!important;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  border: 1px solid #ccc!important;
  border-radius: 2px!important;
  box-shadow: 0 2px 40px rgba(0,0,0,.4);
  transition: opacity 0.218s;
  margin-top: 1px;
  min-width: 170px;

  > li > a {
    display: block;
    font-size: 13px;
    padding: 3px 11px;
    margin-bottom: 1px;
    margin-top: 1px;
  }

  > li > a:hover {
    background: #5db2ff;
    color: #fff;
  }
}
